@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 1.8rem;
  background-color: #F5F5F5;
  line-height: 1.6;
  overflow: auto;
  margin: 0;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: 700;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #0E93DE;
  color: white;
  width: 99.8%;
  height: 80px;
}
.header div {
  margin-left: 9%;
}
.header nav {
  display: flex;
  justify-content: space-around;
  background-color: #0E93DE;
  width: 280px;
  margin-right: 9%;
}
.header nav a {
  color: white;
}
.header nav a:hover {
  text-decoration: underline;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.accountCard {
  border: 1px solid #eceaea;
  background-color: #E5E5E5;
  width: 65%;
  border-radius: 5px;
  margin: 3% auto 6% auto;
}
.innerAccountCard {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  margin: 40px auto;
}
.innerAccountCard h1 {
  width: 90%;
  margin: 0;
}
.innerAccountCard div {
  display: flex;
  width: 90%;
  margin: 0;
}
.innerAccountCard p {
  width: 181px;
  margin: 0 68px 0 0;
}
.innerAccountCard h3 {
  width: 90%;
  margin: 0;
  margin-top: 48px;
  margin-bottom: 32px;
}
.innerAccountCard label {
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
}
